body {
    font-family: IRANSans, Tahoma, serif;
    font-size: 14px;
    background: #f0f0f0;
    font-weight: 400;
    direction: ltr;
    display: block;
    margin: 0
}

ul, ol {
    padding: 0;
    margin: 0;
}

#navigation-bar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-radius: 0;
    height: 80px;
    background: #333;
    border: none;
    box-shadow: 0 -1px 36px #000 inset;
    direction: rtl;
}

#navigation-bar-news {
    width: 80px;
    height: 80px;
    float: left;
    background: #af0c1b;
    box-shadow: 5px -10px 12px #1b1b1b;
}

#navigation-bar-news-day {
    font-size: 30px;
    font-family: YekanNumbers, Tahoma;
}

#navigation-bar-news-display {
    display: block;
    font-family: YekanNumbers, IRANSans;
}

#navigation-bar-news-counter {
    font-family: YekanNumbers, Tahoma, serif;
    width: 80px;
    height: 80px;
    display: block;
    color: #fff;
    padding-top: 5px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

#navigation-bar-top-row {
    height: 30px;
    width: 100%;
    background: #1b1b1b;
    box-shadow: 4px -5px 8px #000 inset;
}

#navigation-bar-top-row-right {
    list-style: none;
    color: rgb(170, 170, 170);
    padding-top: 5px;
}

#navigation-bar-top-row-right li {
    float: right;
    padding: 0 5px;
}

#navigation-bar-top-row-left {
    list-style: none;
    color: white;
}

#navigation-bar-top-row-left li {
    float: left;
    padding: 0 5px;
}

#navigation-bar-header {
    height: 80px;
    width: 268px;
    position: relative;
    background: #b10e1e;
    margin-left: 10px;
    display: inline-block;
    float: right;
    box-shadow: -5px -10px 12px #1b1b1b;
}

#navigation-bar-brand {
    background: url(../res/Zoomit/login-logo.png) no-repeat right top;
    height: 45px;
    width: 222px;
    position: absolute;
    right: 25px;
    top: 18px;
    background-size: cover;
    color: #777;
}

.content {
    margin: 0 0 0 10px;
    width: 100px;
    height: 528px;
    background-color: aqua;
    display: inline-block;
}

.container {
    max-width: 1330px;
    padding: auto 15px;
    margin: 50px auto;
}

.side-menu {
    width: 300px;
    float: left;
}

#top-header {

}

.dir-rtl {
    direction: rtl;
}
