body {
    font-family: IRANSans-web, Tahoma, serif;
    font-size: 14px;
    background: #f0f0f0;
    font-weight: 400;
    direction: ltr;
    display: block;
    margin: 0
}

ul, ol {
    padding: 0;
    margin: 0;
}

/* ================================================================================================================== */
/* Navigation Bar CSS */

#navigation-bar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-radius: 0;
    height: 80px;
    background: #333;
    border: none;
    box-shadow: 0 -1px 36px #000 inset;
    direction: rtl;
}

#navigation-bar-news {
    width: 80px;
    height: 80px;
    float: left;
    background: #af0c1b;
    box-shadow: 5px -10px 12px #1b1b1b;
}

#navigation-bar-news-day {
    font-size: 30px;
    font-family: Yekan, Tahoma;
}

#navigation-bar-news-display {
    display: block;
    font-family: Yekan, IRANSans-web;
}

#navigation-bar-news-counter {
    font-family: YekanNumbers, Tahoma, serif;
    width: 80px;
    height: 80px;
    display: block;
    color: #fff;
    padding-top: 5px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

#navigation-bar-top-row {
    height: 30px;
    width: 100%;
    background: #1b1b1b;
    box-shadow: 4px -5px 8px #000 inset;
}

#navigation-bar-top-row-right {
    list-style: none;
    color: rgb(170, 170, 170);
    padding-top: 5px;
}

#navigation-bar-top-row-right li {
    float: right;
    padding: 0 5px;
}

#navigation-bar-top-row-left {
    list-style: none;
    color: white;
}

#navigation-bar-top-row-left li {
    float: left;
    padding: 0 5px;
}

#navigation-bar-header {
    height: 80px;
    width: 268px;
    position: relative;
    background: #b10e1e;
    margin-left: 10px;
    display: inline-block;
    float: right;
    box-shadow: -5px -10px 12px #1b1b1b;
}

#navigation-bar-brand {
    background: url(../res/Zoomit/login-logo.png) no-repeat right top;
    height: 45px;
    width: 222px;
    position: absolute;
    right: 25px;
    top: 18px;
    background-size: cover;
    color: #777;
}

/* ================================================================================================================== */
/* Footer CSS */

#footer {
    background: #222;
    padding: 25px 25px;
    color: #FFF;
    position: relative;
    direction: rtl;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

footer .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .list li {
    margin-bottom: 15px;
    color: #aaa;
}

footer .list-image {
    margin-bottom: 15px;
}

footer .list-image img {

}

footer .list-image .caption {
    color: #aaa;
    font-size: 14px;
    font-family: IRANSans-web, Tahoma, serif;
}

footer .list-image .caption h4 {
    margin: 0 0 15px;
}

/* ================================================================================================================== */
/* General CSS */

.little-title {
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    padding: 13px 13px 27px;
    margin-bottom: -12px;
    line-height: 14px;
    direction: rtl;
}

.topics-col {
    padding: 5px 5px;
    overflow: auto;
    background-color: white;
    border: 1px solid #e2e2e2;
}

.center-section {
    padding: 5px;
}

/* ================================================================================================================== */
/* Popular Topics CSS */

#popular-topics {
}

.popular-topic {
    padding: 0;
    overflow: auto;
}

.popular-topic img {
    width: 100%;
    height: 100%;
}

/* ================================================================================================================== */
/* Educational Topics CSS */

#educational-topics {

}

.educational-topic {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px #ddd solid;
    overflow: auto;
}

.educational-topic img {
    margin: 0;
    padding: 0;
}

.educational-topic .content {
    color: #666;
    display: inline-block;
    direction: rtl;
}

.educational-topic .content h3 {
    font-size: 14px;
}

/* ================================================================================================================== */
/* */

.news {
    height: 100%;
    width: 100%;
    direction: rtl;
}

.news-col {
}

.news-col img {
    height: 100%;
    width: 100%;
}

.news-col h6 {
    color: #e5e5e5;
    margin-bottom: 5px;
    margin-top: 0;
}

.news-col h4 {
    margin: 0;
}

.news-col h4:hover {
    color: #c91021;
}

/* ================================================================================================================== */
/* Hop Topics CSS */

#hot-topics {
    height: 100%;
    width: 100%;
    direction: rtl;
}

.hot-topic {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px #ddd solid;
    overflow: auto;
}

.hot-topic .comment {
    position: absolute;
    top: 0;
    left: 0;
    color: #666;
}

.hot-topic .tag-line {
    font-weight: 300;
    font-size: 13px;
    color: #999;
}

.hot-topic img {
    margin: 0;
    padding: 0;
}

.hot-topic .content {
    color: #666;
    display: inline-block;
}

.hot-topic .content h3 {
    font-size: 14px;
}

/* ================================================================================================================== */
/* Top Stories CSS */

#top-stories {
    height: 500px;
    display: inline-block;
    margin-bottom: 5px;
}

.top-stories-col {
    height: 100%;
    padding: 0;
    margin: 0;
}

.top-story-box-single {
    height: 33.3%;
}

.top-story-box-double {
    height: 66.6%;
}

.top-story-box {
    margin: 0;
    padding: 0;
    position: relative;
}

.top-story-box img {
    width: 100%;
    height: 100%;
}

.top-story-box .cover {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(180deg, rgba(19, 25, 31, .3) 20%, rgba(19, 25, 31, 1) 70%);
}

.top-story-box:hover .cover {
    display: block;
}

.top-story-box .caption {
    line-height: 20px;
    text-shadow: 1px 1px 3px #000;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    direction: rtl;
    margin: 0;
    background: linear-gradient(180deg, rgba(19, 25, 31, 0) 30%, rgba(19, 25, 31, 1) 75%);
}

.top-story-box .caption h3 {
    font-weight: 500;
    font-size: 13px;;
    margin-right: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: 0 0 3px #333;
    color: #ff9b37;
}

.top-story-box .caption h2 {
    font-size: 14px;
    line-height: 25px;
    width: 90%;
    margin: 0 auto 5px;
    color: white;
}

/* ================================================================================================================== */
/* Side Advertisements CSS */

.side-ads {
}

.side-ads a img {
    width: 100%;
    padding-bottom: 5px;
}

/* ================================================================================================================== */

.float-right {
    float: right;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.dir-rtl {
    direction: rtl;
}
