body {
    background-color: #D2D2D8;
    font-family: Yekan, 'Roboto Slab', sans-serif;

}

/* ================================================================================================================== */
/* Navigation CSS */

#navigation ul {
    list-style: none;
}

#navigation ul li h1 {
    text-align: center;
    height: 40px;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
    position: relative;
    color: #DEDEE6;
    padding: 10px 18px 18px;
}

#navigation ul li {
    float: right;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#navigation ul li:nth-of-type(1) {
    line-height: 15px;
}

#navigation {
    direction: rtl;
    background-color: rgba(25, 25, 26, 0.921569);
    width: 100%;
}

.menu {
    overflow: hidden;
    display: none;
    z-index: 1;
    background-color: #202022;
    position: absolute;
    left: 0;
}

.menu > aside {
    width: 15%;
    float: right;
    height: 100%;
    padding: 20px 0 30px 0;
}

.menu > aside > ul {
    display: inline-block;
    width: 100%;
    padding: 0 5% 0 5%;
    margin: 0;
}

.menu > aside > ul > li {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu > aside > ul > li h2 {
    display: inline-block;
    width: 100%;
    font-family: yekan, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu > aside > ul > li h1 {
    display: inline-block;
    width: 100%;
    font-family: yekan, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu > section {
    overflow: hidden;
    width: 84.5%;
    float: left;
    background-color: white;
    position: relative;
    bottom: 0;
}

.menu > section > ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    direction: rtl;
}

.menu > section > ul > li {
    display: inline-block;
    margin: 0;
    padding: 20px 1.5% 20px 1.5%;
    float: right;
    width: 16.9%;
    text-align: center;
    word-wrap: break-word;
}

.menu > section > ul > li img {
    display: inline-block;
    width: 100%;
    height: 50%;
}

.menu > section > ul > li h1 {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3f3f3f;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.menu > section h2 {
    display: inline-block;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    bottom: 20px;
    left: 1.5%;
    margin: 0;
}

#navigation li:hover div {
    display: block;
}

/* ================================================================================================================== */
/* Header CSS */

#header {
    width: 100%;
    height: 110px;
    overflow: hidden;
    background: #000;
}

#header-social {
    width: 105px;
    margin-left: 10px;
    text-align: right;
    padding: 13px 0 0;
}

#header-social a {
    display: inline-block;
    float: left;
    font-size: 16px;
    color: #DEDEE6;
    padding: 1px;
}

/* ================================================================================================================== */
/* Reviewing CSS */

#reviewing {

}

.reviewing-box {
    position: relative;
    height: 110px;
}

.reviewing-box:first-child {
    position: relative;
    height: 220px;

}

.reviewing-box img {
    width: 100%;
    height: 100%;
}

.reviewing-box .content {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(11, 12, 18, 0.65) 0%, rgba(16, 33, 21, 0.65) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(11, 12, 18, 0.65)), color-stop(100%, rgba(16, 33, 21, 0.65)));
    background: -webkit-linear-gradient(left, rgba(11, 12, 18, 0.65) 0%, rgba(16, 33, 21, 0.65) 100%);
    background: -o-linear-gradient(left, rgba(11, 12, 18, 0.65) 0%, rgba(16, 33, 21, 0.65) 100%);
    background: -ms-linear-gradient(left, rgba(11, 12, 18, 0.65) 0%, rgba(16, 33, 21, 0.65) 100%);
    background: linear-gradient(to right, rgba(11, 12, 18, 0.65) 0%, rgba(16, 33, 21, 0.65) 100%);
}

.reviewing-box .content h4 {
    text-align: center;
    font-size: 18px;
    margin: 36px 15px 15px;
    color: #FFFFFF;
}

.reviewing-box .content .meter-circle {

}

.reviewing-box .content .user-ratting {
    position: absolute;
    bottom: 3px;
    right: 10px;
    float: none;
    color: #FFF;
    font-size: 18px;
}

.reviewing-box .content .meta {
    position: absolute;
    bottom: 8px;
    left: 15px;
}

/* ================================================================================================================== */
/* General CSS */

.ads-box {
    margin: 10px auto 5px;
}

.little-title {
    text-align: center;
    float: right;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 13px;
    height: 36px;
    position: relative;
    z-index: 9;
    color: #000;
    background: #FAFAFF;
    border: 0;
    border-right: 1px solid #D7D8DF;
    -moz-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 10);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    margin: 0;
    padding: 9px 16px 0;
}

.little-title-bar {
    border: 1px solid #D4D4DB;
    background: #F7F8FF;
    position: relative;
    height: 38px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.float-right {
    float: right;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.dir-rtl {
    direction: rtl;
}

/* ================================================================================================================== */
/* Comments CSS */

#comments {

}

#comments h1 {
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 0 10px;

}

.comments-new {
    border-bottom: 1px solid #E7E7E7;
    padding: 0 0 25px;
    margin: 10px 20px 20px 0;
}

.comments-row {
}

.comments-row .content {
    font-size: 12px;
}

.comments-row .content h1 {
    display: inline-block;
    float: right;
    margin-left: 15px;
    font-size: 19px;
    font-family: Yekan, 'Roboto Slab', sans-serif;
    font-weight: 100;
    color: #000;
}

.comments-row .content p {
    font-style: italic;
    font-size: 10px;
    color: #999;
    margin-right: 15px;
    position: relative;
    top: 8px;
}

.comments-row .content h2 {
    font-size: 13px;
    color: #5B4B5B;
    padding: 18px 0 0;
    line-height: 28px;
}

/* ================================================================================================================== */
/* Suggestion CSS */

#suggestion {

}

.suggestion-row {

}

.suggestion-row h1 {
    line-height: 32px;
    margin: 0 0 12px;
}

.suggestion-row h2 {
    font-size: 13px;
    margin: 8px 0;
}

.suggestion-row p {
    font-family: Yekan, 'Roboto Slab', sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #828282;
}

/* ================================================================================================================== */
/* Billboard CSS */

#billboard {
    position: relative;
}

.billboard-image {
    background-size: cover;
    width: 100%;
    height: 900px;
    background: url(http://zoomg.ir/wp-content/uploads/2016/02/The_Good_Dinosaur_Promo_Art_03ss.jpg) center 20%;
}

.billboard-overlay {
    background: linear-gradient(to bottom, rgba(210, 210, 216, 0) 30%, rgba(210, 210, 216, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
}

.billboard {
    position: relative;
    top: 20px;
    direction: rtl;
}

.billboard .main-title {
    color: #FFF;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
    font-size: 70px;
    line-height: 85px;
    font-family: Yekan, 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 50px 80px 70px;
}

.billboard .billboard-avatar {
    width: 48px;
    margin: 0 auto;
}

.billboard .billboard-subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
    font-family: Yekan, 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.billboard .billboard-authorship {
    font-family: Yekan, 'Roboto Slab', sans-serif;
    margin: 10px auto;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
    font-size: 16px;
}

.billboard .billboard-authorship a {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .8);
    font-size: 16px;
}

/* ================================================================================================================== */
/* Content Box CSS */

#content-box {
    position: relative;
    top: -450px;
    background: #ffffff;
    margin-top: 68px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#content-box-main {
    font-size: 15px;
    word-wrap: break-word;
    text-align: justify;
    font-family: Yekan, 'Roboto Condensed', sans-serif;
}

#content-box-main p {
    margin: 10px 20px 0 0;
}

#content-box-main img {
    max-width: 100%;
    height: auto;
    padding: 10px 15px 15px 0;
}

#content-box-main .quote-left,
#content-box-main .quote-right {
    width: 30%;
    margin: 0 30px 0 10px;
    font-size: 21px;
    line-height: 35px;
    font-weight: bold;
    color: #FF2654;
    padding: 5px;
}

#content-box-main .quote-left {
    float: left;
}

#content-box-main .quote-right {
    float: right;
}

/* ================================================================================================================== */
/* Footer CSS */

footer {
    direction: rtl;
}

#footer-main {
    margin-top: 25px;
    background-color: #333;
    font-size: 12px;
}

#footer-copyright {
    color: #AEAEBB;
    background-color: #f3f3f3;
    font-size: 12px;
}

.footer-col {
    width: 24.5%;
    display: inline-block;
    color: white;
    margin-top: 20px;
}

.footer-col h2 {
    width: 100%;
    overflow: hidden;
}

.footer-col ul {
    margin: 20px 0 40px 0;
    padding: 0;
    list-style-type: none;
}

.footer-col li {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
}

.footer-col li :hover {
    color: #ff2654;
    cursor: pointer;
}

.footer-col li h1 {
    margin: 0 2px;
    width: 15%;
    float: right;
    min-height: 30px;
    position: relative;
    color: #494949;
    font-family: Dosis, sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    min-width: 30px;
}

.footer-col > ul > li p {
    width: 80%;
    line-height: 25px;
    float: right;
}
